<h1>Editing question_template</h1>

<%= render partial: 'form', locals: {question_template: @question_template, url: admin_question_template_path} %>

<%= link_to 'Show', admin_question_template_path %> |
<%= link_to 'Back', admin_question_templates_path %>
