<h1>New question_template</h1>

<%= render partial: 'form', locals: {question_template: @question_template, url: admin_question_templates_path} %>

<%= link_to 'Back', admin_question_templates_path %>
