<div class="large-8 columns">
  <p>
    Your API Key: <span class="label"><%= current_user.api_key.token %></span>
  </p>
</div>

<nav class="large-2 columns">
  <%= button_to "Logout", destroy_user_session_path, class: "button tiny expand alert", method: :delete %>
</nav>